html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    min-height: 100vh;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0 10px;
    background: linear-gradient(90deg, #2a2a2a, #182552);
    color: #d1d1d1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
}

.container {
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    min-height: 100vh;
}

.logo {
    margin-top: 0;
}

.logo img {
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 0px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    margin-bottom: 0px;
    color: #d1d1d1;
}

h2 {
    margin-top: 15px;
    margin-bottom: 0px;
    font-size: 1.2em;
    font-family: 'Montserrat', sans-serif;
    color: #d1d1d1;
    text-align: justify;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    margin-bottom: 15px;
    color: #a1a1a1;
    text-align: justify;
}

.subtitle {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    margin-bottom: 30px;
    margin-top: 10px;
    color: #a1a1a1;
    text-align: center;
}

.link {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #2a2a2a, #182552);
    color: #d1d1d1;
    text-decoration: none;
    padding: 10px;
    margin: 10px auto;
    font-size: 1.1em;
    min-width: 250px;
    width: calc(100% - 50px);
    max-width: 100%;
    transition: 0.3s;
    box-shadow: 0 0 0 0.5px transparent, 0 0 0 1px rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-sizing: border-box;
}

.link:hover {
    background: linear-gradient(90deg, #182552, #2a2a2a);
    box-shadow: 0 0 0 1px transparent, 0 0 0 2px rgba(255, 255, 255, 0.8);
}

.icon {
    width: 50px;
    height: auto;
    margin-right: 15px;
    margin-left: 5px;
    max-width: 100%;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    margin-right: 5px; 
}

.description {
    font-family: 'Poppins', sans-serif;
    font-size: 0.95em;
    color: #b1b1b1;
    margin-top: 5px;
    transition: 0.3s;
    text-align: justify;
}

.link:hover .description {
    color: #d1d1d1;
}

.animated {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.animated.visible {
    opacity: 1;
    transform: scale(1);
}

@media (max-width: 768px) {
    html, body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
        width: 100%;
        height: 100%;
    }

    .container {
        padding: 5px 5px;
        box-sizing: border-box;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .logo {
        margin-top: 20px;
        max-width: 100%;
        height: auto;
    }
    
    h1 {
        font-size: 20px;
        word-wrap: break-word;
        text-align: center;
        margin-bottom: 5px;
    }

    .subtitle {
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 30px !important;
    }

    p {
        font-size: 15px;
        word-wrap: break-word;
        text-align: justify;
    }

    .link {
        font-size: 15px;
        padding: 10px;
        margin: 10px auto;
        width: calc(100% - 50px);
        max-width: 100%; 
        box-sizing: border-box;
        border-radius: 8px;
    }

    .icon {
        width: 50px;
        height: auto;
        max-width: 100%;
    }

    .container > * {
        margin-bottom: 15px;
    }
}
